#include "asterisk.dtsi"
#include "asterisk_3610.dtsi"

&default_transform {
	col-offset = <6>;
};

&kscan0 {
    compatible = "zmk,kscan-gpio-matrix";
    wakeup-source;
};

&physical_layout0 {
        kscan = <&kscan0>;
};

&spi0 {
    status = "okay";
};

&trackball {
    status = "okay";
};

split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        trackball_split: trackball_split@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
};

&trackball_split {
	device = <&trackball>;
}

