#include "asterisk.dtsi"
#include "asterisk_3610.dtsi"

&kscan0 {
    compatible = "zmk,kscan-gpio-matrix";
    wakeup-source;
};

&physical_layout0 {
        kscan = <&kscan0>;
};

&left_encoder {
    status = "okay";
};

/ {
	vtrackball: virtual_input_trackball {
		compatible = "zmk,virtual-input";
	};
};